body {
  margin: 0;
  padding: 0;

  background: whitesmoke;
  font-size: 16px;
  font-family: monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-input {
  display: flex;
  flex-direction: column;
  width: 16rem;
  padding-right: 2rem;
  position: sticky;
  top: 6rem;
  left: 0;
  z-index: 20;
}

.table-container {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.p-inputtext {
  font-size: 16px;
  font-family: monospace;
  border: 2px solid lightgray;
  background: whitesmoke;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.25rem;
}

.user-input .p-button {
  font-size: 16px;
  font-family: monospace;
  border: 2px solid black;
  background: black;
  color: whitesmoke;
  padding: 0.5rem 0.25rem;
  font-weight: bold;
}

.p-dropdown {
  border: none;
}

.p-dropdown-trigger {
  display: none;
}

.p-dropdown-items-wrapper {
  background: whitesmoke;
}

.p-dropdown-items-wrapper ul li {
  padding: 0.25rem;
}

.p-dropdown-items-wrapper ul li:nth-child(odd) {
  background: lightgray;
}

td .p-button {
  background: none;
  border: none;
  margin-left: 0.75rem;
}

.p-datatable-thead {
  background: black;
  color: whitesmoke;
}

tr td,
tr th {
  padding: 0.75rem;
  vertical-align: top;
}

.p-row-odd {
  background: lightgray;
}

tr td:first-child,
tr th:first-child {
  font-weight: bold;
  text-align: right;
}

tr td:last-child {
  text-align: center;
}

.pi {
  font-size: 1rem;
}

.p-toast-message {
  padding: 2rem 1rem;
  background: lightcoral;
}

.p-toast-summary {
  font-weight: bold;
  text-decoration: underline;
}

td ul {
  margin: 0rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 4rem;
  position: sticky;
  top: 0rem;
  background: whitesmoke;
  z-index: 10;
  padding-bottom: 2rem;
}
